<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="caminhoBackup" value="C:\Backup\"/>
  </appSettings>   
  <connectionStrings>
    <add name="MyDbConnection" connectionString="Server=localhost;Port=3306;Database=Bibliotecario;User Id=root;Password=;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
